@import "../../variables.scss";

.MenuItem {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-decoration: none;
  color: $font-color;

  &.active {
    border-bottom: 2px solid $accent-color;
    color: $accent-color;
  }
}
