@import "../../variables";

.Header {
  display: flex;
  justify-content: space-around;
  height: 70px;
  background-color: #4A5667;

  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #E0C87F;
    text-decoration: none;
  }
}