@import "variables";

body {
  font: 100% $font-stack;
  color: $primary-color;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  #root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    .container {
      flex: 1;
      background-color: #2B2D34;
      color: $secondary-color;
    }
  }
}
