@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

$font-stack: Roboto, sans-serif;
$font-color: #ddd;
$primary-color: #545f66; //#2b2d34;
$secondary-color: #829399; //#4a5667;
$accent-color: #d0f4ea; //#e0c87f;
