@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

$font-stack: Roboto, sans-serif;
$font-color: #cbd0c9;
$primary-color: #7b7c6d; //#5e5d59;
$secondary-color: #929996; //#94aca7;
$accent-color: #7c3532; //#b38d3e;
